<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Mapa con Imágenes</title>
    <style>
        #map {
            height: 80vh;
            width: 100%;
        }
        .popup-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PATRIMONIOS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'prueba' %}">Mapa</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div id="map"></div>
    <footer class="site-footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <h6></h6>
                  <p class="text-justify">Ven a conocer nuestra página web para tener una mejor experiencia en los
                      distintos patrimonios culturales de la región metropolitana de Chile.</p>
              </div>

              <div class="col-xs-6 col-md-3">
                  <h6>Redes sociales</h6>
                  <ul class="footer-links">
                      <li><a href="https://web.whatsapp.com/">Whatsapp</a></li>
                      <li><a href="http://facebook.com">Facebook</a></li>
                      <li><a href="http://instagram.com">Instagram</a></li>
                  </ul>
              </div>
          </div>
          <hr>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                  <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by <a href="#">Grupo 4</a>.
                  </p>
              </div>
          </div>
      </div>
  </footer>
</body>
<script>
    var map = L.map('map').setView([-33.43093798807113, -70.63630464156566], 14);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    fetch('{% static "geojson/prueba.geojson" %}')
      .then(response => response.json())
      .then(data => {
        L.geoJSON(data, {
          onEachFeature: function (feature, layer) {
            layer.on('click', function() {
              openPopup(feature);
            });
          }
        }).addTo(map);
      });
      
    function openPopup(feature) {
      // Información personalizada en el cuadro emergente
      var popupContent = '<h3>' + feature.properties.name + '</h3>';
      popupContent += '<img src="' + feature.properties.imageURL + '" alt="' + feature.properties.name + '" width="200">';
      
      // Agrega información adicional desde el campo properties
      popupContent += '<h4>Información del lugar:</h4>';
      popupContent += '<p>' + feature.properties.additionalInfo + '</p>';
      
      // Agrega la dirección
      popupContent += '<h4>Dirección</h4>';
      popupContent += '<p>' + feature.properties.address + '</p>';

      // Agrega un contenedor para los botones
      popupContent += '<div class="popup-buttons">';
      if (feature.properties.detailsPageURL) {
        popupContent += '<a href="' + feature.properties.detailsPageURL + '" target="_self">Ver más detalles</a>';
      }
      if (feature.properties.liveURL) {
        popupContent += '<a href="' + feature.properties.liveURL + '" target="_blank">Ver en vivo</a>';
      }
      popupContent += '</div>';
  
      var popup = L.popup()
        .setLatLng([feature.geometry.coordinates[1], feature.geometry.coordinates[0]])
        .setContent(popupContent)
        .openOn(map);
    }
</script>
</html>
